{% extends 'base.html' %}
{% block content %}
<div class="row content">
    <div class="col-sm-6 mx-auto about-text">
        <h1>ABOUT</h1>
        <h3>Who are we?</h3>
        <p>We are a group of seven students at the Software Engineering and Management program
            in Gothenburg University. In the fall semester of 2019 we were offered the chance 
            to collaborate with APTIV on a proof of concept project. 
        </p>
        <h3>Why did we make At Ease?</h3>
        <p>jkdahsfljdsfjld</p>
    </div>
</div>
<footer class="content mx-auto">
    <p>Copyright 2019</p>
</footer>
<script>
</script>
{% endblock %}