{% extends 'base.html' %}
{% block content %}
<div class="row content">
    <div class="col-sm-8 mx-auto">
        <div class="col-sm-12 my-5">
            <h1 class="text-center">HOW IT WORKS</h1>
        </div>
        <div class="how-it-works pt-5 mx-auto">
            <div class="row how-it-works-section py-5 col-sm-12 mb-5">
                <div class="col-sm-12 pb-5">
                    <h3>Change the Temperature in a Zone</h3>
                </div>
                <div class="col-sm-6 how-it-works-text">
                    <p class="mx-auto">
                        <strong>Comfort Zone</strong> allows you to customize every passenger’s environment with ease. 
                        Change your temperature, sound levels and more with the press of a button. Thanks 
                        to our zone management system, every zone in the car is customizable to tailor 
                        the needs of everyone inside.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" id="change-temp-video">
                        <video autoplay muted loop class="d-block mx-auto">
                            <source src="../static/change-temp-in-zone.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="row how-it-works-section py-5 col-sm-12 my-5">
                <div class="col-sm-12 pb-5">
                    <h3>Change the Environment Profile</h3>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" id="change-temp-video">
                        <video autoplay muted loop class="d-block mx-auto">
                            <source src="../static/change-environment-mode-zone.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-sm-6 how-it-works-text">
                    <p class="mx-auto">
                        <strong>Comfort Zone</strong> also ships with several premade 
                        profiles that adapt to a variety of weather conditions and situations. 
                        Instead of tuning the whole system every morning, pick a single profile 
                        that fits your needs at the time. 
                    </p>
                </div>
            </div>
            <div class="row how-it-works-section py-5 col-sm-12 my-5">
                <div class="col-sm-12 pb-5">
                    <h3>Add a new Environmental Mode</h3>
                </div>
                <div class="col-sm-6 how-it-works-text">
                    <p class="mx-auto">
                        If none of the available profiles fit you, you are welcome to add 
                        your own. Whether you have frequent passengers or a specific way you 
                        like your car in the morning, you can save your options and reuse 
                        them at a moment’s notice.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" id="change-temp-video">
                        <video autoplay muted loop class="d-block mx-auto">
                            <source src="../static/add-new-environment-mode.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="row how-it-works-section py-5 col-sm-12 my-5">
                <div class="col-sm-12 pb-5">
                    <h3>Control Nearby Devices</h3>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" id="change-temp-video">
                        <video autoplay muted loop class="d-block mx-auto">
                            <source src="../static/iot-mute.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-sm-6 how-it-works-text">
                    <p class="mx-auto">
                        Want to take customization to the next level? You can also adjust 
                        the devices connected to <strong>Comfort Zone</strong>. Any Android devices 
                        connected to the system can have their volumes adjusted. Whether you
                        want some peace while driving or to kick the fun up a notch, you are 
                        in complete control.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
{% endblock %}