{% extends 'base.html' %}
{% block content %}
<div class="row content">
    <div class="col-sm-8 mx-auto">
        <div class="col-sm-12 my-5">
            <h1 class="text-center">HOW IT WORKS</h1>
        </div>
        <div class="how-it-works pt-5 mx-auto">
            <div class="row how-it-works-section py-5 col-sm-12 mb-5">
                <div class="col-sm-12 pb-5">
                    <h3>Change the Temperature in a Zone</h3>
                </div>
                <div class="col-sm-6 how-it-works-text">
                    <p class="mx-auto">We are a group of seven students at the Software Engineering and Management program
                        in Gothenburg University. In the fall semester of 2019 we were offered the chance 
                        to collaborate with APTIV on a proof of concept project. 
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" id="change-temp-video">
                        <video autoplay muted loop class="d-block mx-auto">
                            <source src="../static/change-temp-in-zone.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="row how-it-works-section py-5 col-sm-12 my-5">
                <div class="col-sm-12 pb-5">
                    <h3>Change the Environment Profile</h3>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" id="change-temp-video">
                        <video autoplay muted loop class="d-block mx-auto">
                            <source src="../static/change-environment-mode-zone.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-sm-6 how-it-works-text">
                    <p class="mx-auto">We are a group of seven students at the Software Engineering and Management program
                        in Gothenburg University. In the fall semester of 2019 we were offered the chance 
                        to collaborate with APTIV on a proof of concept project. 
                    </p>
                </div>
            </div>
            <div class="row how-it-works-section py-5 col-sm-12 my-5">
                <div class="col-sm-12 pb-5">
                    <h3>Add a new Environmental Mode</h3>
                </div>
                <div class="col-sm-6 how-it-works-text">
                    <p class="mx-auto">We are a group of seven students at the Software Engineering and Management program
                        in Gothenburg University. In the fall semester of 2019 we were offered the chance 
                        to collaborate with APTIV on a proof of concept project. 
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" id="change-temp-video">
                        <video autoplay muted loop class="d-block mx-auto">
                            <source src="../static/add-new-environment-mode.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
            </div>
            <div class="row how-it-works-section py-5 col-sm-12 my-5">
                <div class="col-sm-12 pb-5">
                    <h3>Control Nearby Devices</h3>
                </div>
                <div class="col-sm-6">
                    <div class="embed-responsive embed-responsive-16by9" id="change-temp-video">
                        <video autoplay muted loop class="d-block mx-auto">
                            <source src="../static/iot-mute.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-sm-6 how-it-works-text">
                    <p class="mx-auto">We are a group of seven students at the Software Engineering and Management program
                        in Gothenburg University. In the fall semester of 2019 we were offered the chance 
                        to collaborate with APTIV on a proof of concept project. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
</script>
{% endblock %}