
{% extends 'base.html' %}
{% block content %}
<div class="row content">
    <div class="col-sm-12 mt-5">
        <div class="col-sm-11 col-md-11 col-lg-11 pb-5 embed-responsive embed-responsive-16by9 mx-auto" id="commercial-video">
            <video autoplay muted id="video1" loop class="d-block mx-auto">
                <source src="../static/mobizen_20191202_120752.mp4" type="video/mp4">
            </video>
        </div>
    </div>    

    <div class="col-sm-12 pt-5">
        <div id="steps" class="list-group col-sm-6 float-left">
            <div class="text mx-auto pl-4" style="width: 20vw;">
                <a class="step-caption" href="#list-item-1" id="step-one-caption">
                    <h2>Step 1</h2>
                    <p>Choose your zone</p>
                </a>
                <a class="step-caption" href="#list-item-2" id="step-two-caption">
                    <h2>Step 2</h2>
                    <p>Change your environment. Set temperature, air pressure, volume and more to satisfy your needs.</p>
                </a>
                <a class="step-caption" href="#list-item-3" id="step-three-caption">
                    <h2>Step 3</h2>
                    <p>Enjoy your ride!</p>
                </a>
            </div>
        </div>
    
        <div id="step-media" data-spy="scroll" data-target="#steps" data-offset="0" class="col-sm-6 mx-auto float-right">
            <div class="step-media" id="list-item-1">
                <img id="car-zone-image" src="../static/img/car-selected-zone.PNG" class="d-block img-fluid" />
            </div>
            <div class="step-media" id="list-item-2">
                <img id="dashboard-image" src="../static/img/dashboard-left-side.PNG" class="d-block img-fluid" />
            </div>
            <div class="step-media" id="list-item-3">
                <img id="smiley-image" src="../static/img/smiley.png" class="d-block img-fluid" />
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function() {
    var windowHeight = $(window).height()
    var topOfCommercial = $("#video1").offset().top;
    var heightCommercial = $("#video1").outerHeight();
    var heightImage = $("#list-item-1").outerHeight();
    var topOfFirstImage = $("#car-zone-image").offset().top;
    var topOfSecondImage = $("#list-item-2").offset().top;
    var topOfThirdImage = $("#list-item-3").offset().top;
    $("#steps").hide();
    $(window).resize(function() {
        windowHeight = $(window).height()
        topOfCommercial = $("#video1").offset().top;
        heightCommercial = $("#video1").outerHeight();
        heightImage = $("#list-item-1").outerHeight();
        topOfFirstImage = $("#car-zone-image").offset().top;
        topOfSecondImage = $("#list-item-2").offset().top;
        topOfThirdImage = $("#list-item-3").offset().top;
    });

    $(window).scroll(function() {
        console.log($(this).scrollTop());
        console.log(heightCommercial);
        if($(this).scrollTop() > (topOfCommercial+heightCommercial*4/5) && $(this).scrollTop() < topOfFirstImage+(heightImage/2)){
            $("#step-one-caption").css({"opacity": 1, "border-left": "3px solid white"});
            $("#step-two-caption").css({"opacity": 0.5, "border": "none"});
            $("#step-three-caption").css({"opacity": 0.5, "border": "none"});
        }
        if($(this).scrollTop() > topOfFirstImage+(heightImage/2) && $(this).scrollTop() < topOfSecondImage+(heightImage/2)){
            $("#step-one-caption").css({"opacity": 0.5, "border": "none"});
            $("#step-two-caption").css({"opacity": 1, "border-left": "3px solid white"});
            $("#step-three-caption").css({"opacity": 0.5, "border": "none"});
        }
        if($(this).scrollTop() > topOfSecondImage+(heightImage/2)){
            $("#step-one-caption").css({"opacity": 0.5, "border": "none"});
            $("#step-two-caption").css({"opacity": 0.5, "border": "none"});
            $("#step-three-caption").css({"opacity": 1, "border-left": "3px solid white"});
        }
        if(windowHeight > 1100){
            if($(this).scrollTop() > topOfCommercial+heightCommercial/2) { 
                $("#steps").fadeIn(600); 
            } else {
                $("#steps").hide();
            }
        } else {
            if($(this).scrollTop() > topOfCommercial+heightCommercial*4/5) { 
                $("#steps").css({"bottom": "15%"});
                $("#steps").fadeIn(600); 
            } else {
                $("#steps").hide();
            }
        }
    });
});

$("#steps a").on('click', function(event) {
    if (this.hash !== "") {
        event.preventDefault();
        var hash = this.hash;
        $('html, body').animate({
            scrollTop: $(hash).offset().top - ($(window).height()/4)
        }, 800);
        $(hash).css("opacity", 1);
    }
}); 
</script>
{% endblock %}
