<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>At Ease</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
<div>
    <div class="row page-view">
        <div id="overlay">
            <div class="page-content" class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                <video autoplay muted id="video1" loop class="d-block w-100">
                    <source src="../static/mobizen_20191202_120752.mp4" type="video/mp4">
                </video>
                <div class="col-sm-8">
                    <div class="content d-block">
                        <h5 class="item-title">At Ease</h5>
                        <p class="item-text">Control the environment in your car by automatically adjusting the temperature through the AC and heaters, the sound levels of speakers or muting connected devices and so much more.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row page-view">
        <div id="change-environment">
            <div class="page-content" class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                <video autoplay muted id="video2" loop class="d-block w-100">
                    <source src="../static/change-temp-in-zone.mp4" type="video/mp4">
                </video>
                <div class="col-sm-6">
                    <div class="content d-block">
                        <h5 class="item-title">Environmental zone control</h5>
                        <p class="item-text">No longer suffer the whims of others! Control your own zone to have the environment you desire.</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
</body>

</html>
